:root {
    --blue-1: #2C3A73;  
    --blue-2: #3B4A92;  
    --red-1: #8B2C2A;  
    --red-2: #A34240;  
    --yellow-1: #FAC742;
    --white: #FFF;
    --grey-1: #EDEDED;
    --shadow-dark: rgba(0,0,0,0.3);
    --shadow-light: rgba(255,255,255,0.1);
}